<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/main.js"></script>
    <title></title>
</head>
<body ng-app="moviedb" ng-controller="MainController as mv">
    <div class="search">
        <input placeholder="Search" ng-model="mv.query" ng-change="mv.search(mv.query)">
        <ul class="results">
            <li ng-repeat="result in mv.results">{{result.title}}</li>
        </ul>
    </div>
</body>
</html>